.detailBtn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;

  font-size: 22px;
  padding: 15px 20px;
  border-radius: 40px;
  color: #fff;
  background-color: var(--color-bk);

  img {
    margin-left: 13px;
    width: 16px;
  }
}
