.detailBtn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;

  font-size: calc(100vw * (20 / 1700));
  padding: calc(100vw * (20 / 1700)) calc(100vw * (30 / 1700));
  border-radius: calc(100vw * (40 / 1700));
  color: #fff;
  background-color: var(--color-bk);

  img {
    margin-left: calc(100vw * (8 / 1700));
    width: calc(100vw * (22 / 1700));
  }
}
