header {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 99999;
}

// 메뉴
.menuWrapper {
  width: 45px;
  height: 45px;
  top: 20px;
  right: 50px;
  position: absolute;
  cursor: pointer;
  z-index: 99999;
  border-radius: 50%;
  background-color: var(--color-wh);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

  //햄버거
  .menuLine {
    position: absolute;
    width: 25px;
    height: 2px;

    left: 50%;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    background-color: var(--color-bk);

    transition: 0.3s;
    &:nth-child(1) {
      top: 40%;
      transform: translate(-50%, -50%);
    }
    &:nth-child(2) {
      top: 60%;
      transform: translate(-50%, -50%);
    }
  }

  &.close {
    .menuLine {
      &:nth-child(1) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &:nth-child(2) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
}

// =======================
// 메뉴화면
// =======================
.menuClickWrapper {
  &.open {
    transform: translateX(0);
  }
  // background-color: #333; /* 배경색 */
  transform: translateY(-100%); /* 메뉴가 닫혔을 때는 화면 밖으로 */
  transition: transform 0.3s ease;

  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  background-color: rgba($color: #171717, $alpha: 0.96);

  .gnb {
    width: 100%;
    height: 100%;
    padding-bottom: 80px;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    backdrop-filter: blur(10px);

    p {
      font-size: var(--font-size-title);
      font-weight: 700;
      margin-bottom: 50px;
      color: var(--color-wh);
      position: relative;

      // 메뉴 hover 효과
      &:hover {
        color: var(--color-point);
        &::after {
          content: "";
          position: absolute;
          width: 35px;
          height: 35px;
          margin-left: 30px;
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          background-image: url(../../assets//images/img/path_B.png);
          top: 50%;
          transform: translateY(-50%);
          z-index: 9999;
          animation: menuHoverAni 1.5s linear infinite;
        }
        &::before {
          content: "";
          position: absolute;
          width: 35px;
          height: 35px;
          margin-right: 30px;
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          background-image: url(../../assets//images/img/path_B.png);
          top: 50%;
          transform: translateY(50%);
          left: -65px;
          z-index: 9999;
          animation: menuHoverAni 1.5s linear infinite;
        }
      }
    }
  }
}

// ==================
// footer
// ==================
footer {
  background-color: var(--color-gr);
  color: var(--color-wh);
  width: 100%;

  .footerWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 25px 100px 25px 100px;

    .footerInfo {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      font-weight: 400;
      width: 100%;
      justify-content: space-between;

      p {
        font-size: var(--font-size-footer);
        margin: 5px 200px 5px 0;
        &:nth-child(3) {
          margin-right: 0;
        }

        span {
          font-weight: 800;
          margin-right: 10px;
        }
      }
    }
  }
}

/* @keyframes 애니메이션 정의 */
@keyframes menuHoverAni {
  0% {
    transform: translateY(-20%); /* 시작 시 0도 */
  }
  50% {
    transform: translateY(-50%); /* 끝날 때 360도 회전 */
  }
  100% {
    transform: translateY(-20%);
  }
}

// ===============
// 반응형
// ===============

@media screen and (max-width: 1550px) {
  // =========================
  // 반응형 1550px header

  // =======================
  // 반응형 1550px 메뉴화면

  .menuClickWrapper {
    .gnb {
      padding-bottom: 0;

      p {
        margin-bottom: 35px;

        // 메뉴 hover 효과
        &:hover {
          &::after {
            width: 25px;
            height: 25px;
            margin-left: 25px;
          }
          &::before {
            content: "";
            width: 25px;
            height: 25px;
            margin-left: 25px;
            left: -70px;
          }
        }
      }
    }
  }

  // =======================
  // 반응형 1550px footer

  footer {
    .footerWrapper {
      padding: 25px 50px;
    }
  }
}

@media screen and (max-width: 1080px) {
  // 메뉴
  .menuWrapper {
    right: 50px;
    width: 35px;
    height: 35px;

    //햄버거
    .menuLine {
      width: 20px;
      height: 2px;
    }
  }
  // =======================
  // 반응형 1080px 메뉴화면

  .menuClickWrapper {
    .gnb {
      padding-bottom: 0;

      p {
        margin-bottom: 30px;

        // 메뉴 hover 효과
        &:hover {
          &::after {
            width: 22px;
            height: 22px;
            margin-left: 20px;
          }
          &::before {
            content: "";
            width: 22px;
            height: 22px;
            margin-left: 20px;
            left: -57px;
          }
        }
      }
    }
  }

  // ==================
  // 반응형 1080px footer

  footer {
    .footerWrapper {
      padding: 25px 50px;

      .footerInfo {
        flex-direction: column;
        align-items: start;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  // =========================
  // 반응형 768px header
  // 메뉴
  .menuWrapper {
    right: 30px;
  }

  // =======================
  // 반응형 768px 메뉴화면

  .menuClickWrapper {
    .gnb {
      p {
        margin-bottom: 30px;

        // 메뉴 hover 효과
        &:hover {
          &::after {
            width: 18px;
            height: 18px;
            margin-left: 18px;
          }
          &::before {
            content: "";
            width: 18px;
            height: 18px;
            margin-left: 18px;
            left: -55px;
          }
        }
      }
    }
  }

  // ==================
  // 반응형 768px footer

  footer {
    .footerWrapper {
      padding: 20px 30px;
      .footerInfo {
        flex-direction: column;
        align-items: start;
        p {
          margin: 4px 10px 4px 0;
          span {
            margin-right: 4px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  // =========================
  // 반응형 500px header
  // =========================

  // 메뉴
  .menuWrapper {
    right: 15px;
    width: 25px;
    height: 25px;
    top: 15px;

    //햄버거
    .menuLine {
      width: 15px;
      height: 1.5px;
    }
  }

  // =======================
  // 반응형 500px 메뉴화면

  .menuClickWrapper {
    .gnb {
      p {
        margin-bottom: 20px;

        // 메뉴 hover 효과
        &:hover {
          &::after {
            width: 15px;
            height: 15px;
            margin-left: 8px;
          }
          &::before {
            content: "";
            width: 15px;
            height: 15px;
            margin-left: 8px;
            left: -32px;
          }
        }
      }
    }
  }
  // ==================
  // 반응형 500px footer

  footer {
    height: 100%;
    .footerWrapper {
      padding: 10px 15px;
    }
  }
}

@media screen and (max-width: 320px) {
  // =========================
  // 반응형 320px header
  // =========================
  .menuWrapper {
    right: 8px;
    top: 8px;
  }
  .headerWrapper {
    // inner
    padding: 0 8px 0 8px;

    // 메뉴
    .menuWrapper {
      width: 25px;

      //햄버거
      .menuLine {
        width: 25px;
        height: 1.5px;
      }
    }
  }
  // =======================
  // 반응형 320px 메뉴화면

  .menuClickWrapper {
    .gnb {
      p {
        margin-bottom: 15px;

        // 메뉴 hover 효과
        &:hover {
          &::after {
            width: 13px;
            height: 13px;
            margin-left: 8px;
          }
          &::before {
            content: "";
            width: 13px;
            height: 13px;
            margin-left: 8px;
            left: -27px;
          }
        }
      }
    }
  }
  // ==================
  // 반응형 320px footer

  footer {
    // height: 70px;
    .footerWrapper {
      padding: 8px;
    }
  }
}
