header {
  // background-color: aqua;
  width: 100%;
  height: calc(100vw * (80 / 1700));
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999;
}

// 상단 gnb 네비
.menu {
  // width: 100%;
  // height: 100%;

  .inner {
    // width: 100%;
    max-width: calc(100vw * (1400 / 1700)) !important;
    margin: 0 auto;
    height: 100%;
    // padding-top: calc(100vw * (50 / 1700));
  }

  .gnb {
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;

    .nav {
      padding-top: calc(100vw * (55 / 1700));
      display: flex;
    }

    .project,
    .intro {
      margin-left: calc(100vw * (60 / 1700));
      padding: calc(100vw * (4 / 1700)) calc(100vw * (20 / 1700));
      font-size: calc(100vw * (18 / 1700));
      font-weight: 600;

      cursor: pointer;
      overflow: hidden;
      border-radius: calc(100vw * (50 / 1700));

      /* 배경색과 텍스트 색상이 부드럽게 전환 */
      transition: background-color 0.3s ease, color 0.3s ease;

      &:hover {
        background-color: var(--color-bk);
        color: #fff;
      }
    }

    // Project일때
    &.isProject {
      .nav {
        .project {
          background-color: var(--color-bk);
          color: #fff;
          transition: none;
        }
      }
    }

    // Introduce일때
    &.isIntroduce {
      .nav {
        .project {
          color: #fff;

          &:hover {
            background-color: #fff;
            color: var(--color-bk);
          }
        }

        .intro {
          background-color: #fff;
          color: var(--color-bk);
          transition: none;
        }
      }
    }
  }
}

// 하단 소셜 네비
.socialNav {
  position: fixed;
  z-index: 99999;
  right: calc(100vw * (70 / 1700));
  bottom: calc(100vw * (70 / 1700));
  ul {
    li {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      margin-top: calc(100vw * (20 / 1700));
      justify-content: end;

      .linkTitle {
        margin-right: calc(100vw * (10 / 1700));
        text-align: right;
        font-weight: 600;
        color: var(--color-bk);
        display: none;
        transition: opacity 0.3s ease;
        height: 100%;
        padding: calc(100vw * (5 / 1700)) calc(100vw * (10 / 1700));
        border-radius: calc(100vw * (50 / 1700));
        background-color: rgba($color: #ffffff, $alpha: 0.8);
      }

      &:hover .linkTitle {
        display: block;
      }

      a {
        width: calc(100vw * (80 / 1700));
        height: calc(100vw * (80 / 1700));

        border-radius: calc(100vw * (50 / 1700));
        background-color: #fff;
        box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.2);
        cursor: pointer;

        display: flex;
        justify-content: center;
        text-align: center;
      }

      .img {
        width: calc(100vw * (48 / 1700));

        display: flex;
        justify-content: center;
        align-items: center;

        &.home {
          width: calc(100vw * (40 / 1700));
        }
        &.siteIcon {
          width: calc(100vw * (38 / 1700));
        }
        &.pptIcon {
          width: calc(100vw * (38 / 1700));
        }
      }
    }
  }
}

.upAni {
  animation: upAni 1.2s ease-out forwards;
}

@keyframes back {
  0% {
    transform: translateX(20px);
  }
  100% {
    transform: 0;
  }
}

@keyframes upAni {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: 0;
  }
}
