.projectWrapper {
  width: 100%;
  padding: 130px;
  position: relative;
  z-index: 999;

  // 위로 떠오르는 애니메이션
  animation: upAni 1.2s ease-out forwards;

  .inner {
    width: 100%;
    height: 100%;
    max-width: 1400px;
    margin: 0 auto;
  }

  .projectList {
    .projectBox {
      padding: 50px 10px;
      // border-bottom: 1px solid var(--color-bk);
      border-top: 1px solid var(--color-bk);

      display: flex;
      justify-content: space-between;

      .projectInfoWrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      // 버튼
      .projectLink {
        // width: 200px;
        display: flex;

        span {
          margin-right: 7px;
        }
      }

      // img

      .projectImgWrapper {
        width: 712px;
        height: 410px;
      }
    }
  }
}

.projectText {
  font-size: 43px;
  line-height: 140%;
  font-weight: 600;

  .infoDetail {
    font-size: 23px;
    font-weight: 500;
    margin-top: 30px;
    line-height: 170%;
  }
}

@keyframes upAni {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: 0;
  }
}
