.projectWrapper {
  width: 100%;
  padding: calc(100vw * (130 / 1920));
  position: relative;
  z-index: 999;

  // 위로 떠오르는 애니메이션
  animation: upAni 1.2s ease-out forwards;

  .inner {
    width: 100%;
    height: 100%;
    max-width: 1400px;
    margin: 0 auto;
  }

  .projectList {
    .projectBox {
      padding: calc(100vw * (50 / 1920)) calc(100vw * (10 / 1920));
      border-top: 1px solid var(--color-bk);

      display: flex;
      justify-content: space-between;

      .projectInfoWrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      // 버튼
      .projectLink {
        display: flex;

        span {
          margin-right: calc(100vw * (7 / 1920));
        }
      }

      // img

      .projectImgWrapper {
        width: calc(100vw * (860 / 1920));
        height: 100%;
      }
    }
  }
}

.projectText {
  font-size: calc(100vw * (50 / 1920));
  line-height: 130%;
  font-weight: 600;

  .infoDetail {
    font-size: calc(100vw * (23 / 1920));
    font-weight: 500;
    margin-top: calc(100vw * (30 / 1920));
    line-height: 170%;
  }
}

@keyframes upAni {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: 0;
  }
}
