.detailProjectWrapper {
  width: 100%;
  padding: 130px;
  position: relative;
  z-index: 999;
  height: 100%;

  // 위로 떠오르는 애니메이션
  animation: upAni 1.2s ease-out forwards;

  .inner {
    width: 100%;
    height: 100%;
    max-width: 1400px;
    margin: 0 auto;
  }
}

// li
.projectDetailBox {
  padding: 50px 10px;
  border-top: 1px solid var(--color-bk);

  display: flex;
  justify-content: space-between;
}
// ========================
// 제일 상단 제목 코드
// ========================

// ============ 왼쪽 wrapper
.titleWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 800px;

  .h1ProjectTitle {
    font-size: 45px;
    line-height: 140%;
    font-weight: 600;
    // width: 600px;
  }
}

.h2Info {
  display: flex;
  margin-top: 10px;

  .h2InfoTitle {
    font-style: 16px;
    width: 95px;
    font-weight: 500;
    color: var(--color-gr);
  }
}

// ===================
// ===================

//============ 오른쪽 wrapper
.infoDetail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.infoDetail {
  font-size: 25px;
  font-weight: 500;
  line-height: 170%;
}

.projectInfoBottomWrapper {
  font-size: 17px;
  line-height: 150%;
  padding-top: 60px;
  padding-right: 60px;
  p {
    margin-top: 10px;
  }
}

// ========================
// DetailSkills 파일(스킬)
// ========================

// 스킬 소제목
.info {
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  // margin-bottom: 15px;
  width: 100%;
  border-bottom: 1px solid var(--color-bk);
  padding: 15px 0;

  &:nth-child(1) {
    padding-top: 0;
  }

  &:nth-last-child(1) {
    border-bottom: none;
  }

  .listName {
    width: 200px;
  }

  p {
    margin-left: 15px;
  }

  .infoDetailText {
    display: flex;
  }

  &.work {
    line-height: 160%;
    .DetailWorkSkill {
      font-size: 13px;
      font-weight: 400;
      margin-top: 10px;
    }
    &.info {
      align-items: start;
      padding: 50px 0;
    }
    &.info:nth-child(1) {
      padding: 15px 0 50px 0;
    }
    .infoDetailText {
      flex-direction: column;

      width: 500px;
      line-height: 160%;

      .detailWork {
        margin-bottom: 5px;
        margin-top: 50px;

        &:nth-child(1) {
          margin-top: 0;
        }
      }
      .detailWorkSubText {
        font-weight: 400;
        margin-top: 10px;
      }
    }
  }
}

// ========================
// 비디오
// ========================
.videoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1400px;
  aspect-ratio: 16 / 9; /* 16:9 비율 유지 */
}

// ========================
// 이미지
// ========================

.imgSubWrapper {
  overflow: hidden;
  width: 1400px;

  .imgSubInner {
    display: flex;
  }

  // 원본 애니메이션
  .original {
    display: flex;
    animation: 40s linear infinite normal none running infiniteAnimation1;

    &.stop {
      animation-play-state: paused;
    }
  }

  // 복제본 애니메이션
  .clone {
    display: flex;
    animation: 40s linear infinite infiniteAnimation2;
    &.stop {
      animation-play-state: paused;
    }
  }
}

/* 각 슬라이더 항목 */
.imgSubItem {
  height: auto;
  width: 1000px;
  display: flex;
  flex-shrink: 0;
  padding: 10px;
  text-align: center;
  flex-wrap: nowrap;

  img {
    width: 100%;
    height: auto;
  }
}

// 무한 롤링 애니메이션

@keyframes infiniteAnimation1 {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-100%);
  }
  50.1% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes infiniteAnimation2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}

@keyframes upAni {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: 0;
  }
}
