.detailProjectWrapper {
  width: 100%;
  padding: calc(100vw * (130 / 1920));
  position: relative;
  z-index: 999;
  height: 100%;

  // 위로 떠오르는 애니메이션
  // animation: upAni 1.2s ease-out forwards;

  .inner {
    width: 100%;
    height: 100%;
    max-width: 1400px;
    margin: 0 auto;
  }
}

// ========================
// li
// ========================
.projectDetailBox {
  padding: calc(100vw * (50 / 1920)) calc(100vw * (10 / 1920));
  display: flex;
  justify-content: space-between;
  // margin-top: calc(100vw * (60 / 1920));
  // border-top: 1px solid var(--color-gr);
  border-bottom: 1px solid var(--color-gr);
}

// ========================
// Title
// ========================
.h1ProjectTitle {
  font-size: calc(100vw * (120 / 1920));
  padding-top: calc(100vw * (10 / 1920));
  border-top: 1px solid var(--color-gr);
  line-height: 140%;
  font-weight: 600;
  // width: 600px;
}

// ========================
// subTitle 왼쪽
// ========================

.leftWrapper {
  display: flex;
  flex-direction: column;
  // padding: calc(100vw * (30 / 1920));

  // width: calc(100vw * (10 / 1920));

  .subTitle {
    font-size: calc(100vw * (30 / 1920));
    font-weight: 600;
    line-height: 160%;
  }

  .subDetail {
    margin-top: calc(100vw * (40 / 1920));

    .h2InfoTitle {
      font-size: calc(100vw * (24 / 1920));
      font-weight: 600;
      color: var(--color-gr);
      // margin-top: calc(100vw * (10 / 1920));

      span {
        margin-right: calc(100vw * (10 / 1920));
      }
    }
  }
}

// ========================
// subTitle 오른쪽
// ========================

.rightWrapper {
  width: calc(100vw * (870 / 1920));

  .rightInfo {
    font-size: calc(100vw * (25 / 1920));
    padding: calc(100vw * (25 / 1920)) calc(100vw * (60 / 1920));
    border: 1px solid var(--color-gr);
    border-radius: calc(100vw * (90 / 1920));
    margin-top: calc(100vw * (5 / 1920));
  }
}

// ========================
// DetailSkills 파일(스킬)
// ========================

// 스킬 소제목
.info {
  display: flex;
  align-items: center;
  font-size: calc(100vw * (27 / 1920));
  font-weight: 600;
  // margin-bottom: 15px;
  width: 100%;
  border-bottom: 1px solid var(--color-bk);
  padding: calc(100vw * (20 / 1920)) 0;
  color: var(--color-gr);

  &:nth-child(1) {
    padding-top: 0;
  }

  &:nth-last-child(1) {
    border-bottom: none;
  }

  .listName {
    width: calc(100vw * (200 / 1920));
  }

  p {
    margin-left: calc(100vw * (16 / 1920));
  }

  .infoDetailText {
    display: flex;
  }

  &.work {
    line-height: 160%;

    .pageWrapper {
      width: calc(100vw * (300 / 1920));
    }

    .DetailWorkSkill {
      font-size: calc(100vw * (18 / 1920));
      font-weight: 400;
      margin-top: calc(100vw * (5 / 1920));
    }
    &.info {
      align-items: start;
      padding: calc(100vw * (50 / 1920)) 0;
    }
    &.info:nth-child(1) {
      padding: calc(100vw * (15 / 1920)) 0 calc(100vw * (50 / 1920)) 0;
    }
    .infoDetailText {
      flex-direction: column;

      width: calc(100vw * (700 / 1920));
      line-height: 160%;

      .detailWork {
        margin-bottom: calc(100vw * (5 / 1920));
        margin-top: calc(100vw * (80 / 1920));
        color: var(--color-bk);

        &:nth-child(1) {
          margin-top: 0;
        }
      }
      .detailWorkSubText {
        font-weight: 400;
        padding-left: calc(100vw * (15 / 1920));
        font-size: calc(100vw * (25 / 1920));
        margin-top: calc(100vw * (20 / 1920));
      }
    }
  }
}

// ========================
// 비디오
// ========================
.videoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100vw * (1650 / 1920));
  aspect-ratio: 16 / 9; /* 16:9 비율 유지 */
}

// ========================
// 이미지
// ========================

.imgSubWrapper {
  overflow: hidden;
  width: 100%;
  .imgSubInner {
    display: flex;
  }

  // 원본 애니메이션
  .original {
    display: flex;
    animation: 40s linear infinite normal none running infiniteAnimation1;

    &.stop {
      animation-play-state: paused;
    }
  }

  // 복제본 애니메이션
  .clone {
    display: flex;
    animation: 40s linear infinite infiniteAnimation2;
    &.stop {
      animation-play-state: paused;
    }
  }
}

/* 각 슬라이더 항목 */
.imgSubItem {
  height: auto;
  width: calc(100vw * (1000 / 1920));
  display: flex;
  flex-shrink: 0;
  padding: calc(100vw * (10 / 1920));
  text-align: center;
  flex-wrap: nowrap;

  img {
    width: 100%;
    height: auto;
  }
}

// 무한 롤링 애니메이션

@keyframes infiniteAnimation1 {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-100%);
  }
  50.1% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes infiniteAnimation2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}

// @keyframes upAni {
//   0% {
//     opacity: 0;
//     transform: translateY(50px);
//   }
//   100% {
//     opacity: 1;
//     transform: 0;
//   }
// }

/* 데스크탑 (1200px 이상 1020) */
// 모바일 이하 768
// 450
