section {
  height: 100%;
  width: 100%;
}

.projectSection {
  width: 100%;
  // inner padding
  padding: 0 100px 0 100px;
  background-color: var(--color-bk);
  color: var(--color-wh);

  .projectWrapper {
    height: 1200px;
    width: 100%;

    // 프로젝트 탑부분
    .projectTitle {
      top: 0;
      position: sticky;
      z-index: 999;
      width: 100%;
      padding: 100px 0 80px 0;
      background-color: var(--color-bk);

      // 타이틀 부분 /프로젝트 이름/
      h1 {
        font-size: var(--font-size-title);
        line-height: 110%;
        font-weight: 800;
        text-align: center;
        margin-bottom: 20px;

        span {
          font-size: var(--font-size-main-base);
          margin-left: 30px;
        }
      }

      // 프로젝트 짧은 소개
      h2 {
        font-size: var(--font-size-project-base);
        line-height: 150%;
        font-weight: 500;
        text-align: center;

        // 날짜 & 조이름
        p {
          margin-top: 10px;
          font-size: var(--font-size-project-base-sub);
          color: var(--color-gr-l);
          font-weight: 400;

          span {
            margin-left: 40px;
          }
        }
      }
    }
    // ========================
    // 비디오 영상
    // ========================
    .videoWrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      .video {
        width: 900px;
        height: auto;
        aspect-ratio: 16 / 9; /* 16:9 비율 유지 */
      }
    }

    // ========================
    // 이미지 슬라이드
    // ========================
    .swiperContainer {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      padding-top: 50px;
      position: relative;

      .swiper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        .swiperSlide {
          margin: 0 auto;

          img {
            height: 100%;
            width: 100%;
            max-width: 1020px !important; /* 원하는 최대 너비 설정 */
            object-fit: cover; /* 이미지 크기에 맞춰 자르기 */
          }
        }
      }

      .swiperPagination {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px; /* 점들 간의 간격을 10px로 설정 */
        position: absolute;
        bottom: -20px;
        z-index: 100;

        .paginationBullet {
          // border: 1.5px solid var(--color-wh) !important;
          width: 9px !important; /* 점의 너비 */
          height: 9px !important; /* 점의 높이 */
          background-color: rgba(255, 255, 255, 0.5);
          transition: background-color 0.3s, transform 0.3s; /* 애니메이션 효과 */
          border-radius: 50% !important;

          /* 활성화된 페이지네이션 점 */
          &.active {
            width: 18px !important;
            height: 8px !important;
            border-radius: 10px !important;
            transform: scale(1.2) !important;
            opacity: 1 !important;
          }
        }
        // 1080px 이상의 화면에서는 숨기기
        @media (min-width: 1080px) {
          display: none;
        }
      }
    }
  }

  // ========================
  // 프로젝트 하단 영상, 원형 부분
  // ========================
  .detailInfoWrapper {
    width: 100%;
    height: 100%;
    padding: 50px 0 200px 0;
    background-color: var(--color-bk);

    .circleWrapper {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .circle {
        width: 430px;
        height: 430px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--color-wh);
        padding: 50px 65px;

        &:nth-child(1) {
          transform: translateX(35px);
        }
        &:nth-child(2) {
          border: 1px dashed var(--color-wh);
        }
        &:nth-child(3) {
          transform: translateX(-35px);
        }
        // 원모양 text
        p {
          font-size: var(--font-size-project-base-sub);
          line-height: 190%;
          font-weight: 400;
          text-align: center;
          word-break: keep-all;

          span {
            font-weight: 700;
            color: var(--color-point);
          }
        }
      }
    }
  }
}

// ========================
// 스킬 부분
// ========================
.mySkillSection {
  padding: 0 100px;
  width: 100%;
  height: 80px;
  background-color: var(--color-point);
  color: var(--color-wh);
}

// ===================
// MyContribution
// ===================
.myContributionSection {
  width: 100%;
  padding: 0 100px;
  color: var(--color-bk);

  .myContributionInner {
    width: 100%;
    padding: 200px 0 200px 0;

    // ========================
    // My Contributions 대제목 부분
    .myContributionTitle {
      margin-bottom: 70px;
      font-weight: 900;
      letter-spacing: -3px;
      font-size: var(--font-size-title);
      color: var(--color-point);
    }
  }
}

// ========================
// 내가 기여한 역할
// ========================
.Box {
  border-radius: 30px;
  margin-bottom: 25px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(176, 176, 176, 0.6);

  // ========================
  // box top wrapper
  .myContributionDetailTitleWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 60px;

    // 내가 기여한 부분 타이틀
    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 60%;

      p {
        white-space: nowrap; /* 줄바꿈 방지 */
        width: calc(100% / 3);
        font-size: var(--font-size-sm);
        color: var(--color-gr);

        &:nth-child(2) {
          font-weight: 700;
          color: var(--color-bk);
          font-size: var(--font-size-project-base);
          text-align: center;
        }
      }
    }

    // ========================
    // 더보기 버튼
    .detailMore {
      width: 100px;
      // width: calc(100% / 3);
      height: 100%;
      position: relative;

      // 더보기 이모티콘
      .detailMoreLine {
        position: absolute;
        right: 0;
        width: 25px;
        height: 2px;
        transition: 0.3s;
        border-radius: 30px;
        background-color: var(--color-gr);

        &:nth-child(2) {
          transform: translateY(-50%) rotate(90deg);
        }
      }
    }
  }

  // ========================
  // 하단 상세 내용
  .detailTextWrapper {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    word-break: keep-all;
    transition: max-height 0.5s ease, opacity 0.5s ease 0.1s;

    li {
      padding: 20px 60px;
      &:nth-last-child(1) {
        padding-bottom: 40px;
      }
    }

    // 상세 내용 타이틀
    .detailTextTitle {
      font-weight: 700;
      font-size: var(--font-size-project-base-sub);
      color: var(--color-point);
      margin-bottom: 10px;
      display: flex;
      align-items: center;
    }
    // 상세 내용
    .detailText {
      line-height: 190%;
      font-size: var(--font-size-project-base-sub);
      color: var(--color-bk-text);
    }
  }

  // 열었을때
  &.open {
    background-color: var(--color-wh-sub);

    .detailTextWrapper {
      max-height: 1500px; /* 충분히 큰 값으로 설정 */
      opacity: 1;
      overflow: visible;
    }

    // ========================
    // 디테일 더보기
    .detailMore {
      // 더보기 이모티콘
      .detailMoreLine {
        &:nth-child(1) {
          display: none;
        }
        &:nth-child(2) {
          transform: translateY(-50%) rotate(0deg);
        }
      }
    }
  }
}
// url 링크
.urlWrapper {
  color: var(--color-wh);
  display: flex;
  height: 100%;
  justify-content: end;
  padding-bottom: 15px;

  .url {
    width: 120px;
    height: 120px;
    margin-left: 5px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    font-size: var(--font-size-sm);

    background-image: url("../../assets/images/icons/flower_icon_B.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &:hover {
      transition: all 0.3s ease;
      transform: translateY(-10px);
      background-image: url("../../assets/images/icons/flower_icon_P.svg");
    }
  }
}

// ==========
// 애니
// ==========
@keyframes chatAni {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: 0;
  }
}

// =====================
// 반응형
// =====================
@media screen and (max-width: 1550px) {
  .projectSection {
    padding: 0 50px 0 50px;

    .projectWrapper {
      height: 1000px;

      // 프로젝트 탑부분
      .projectTitle {
        padding: 100px 0 40px 0;
      }

      // ========================
      // 비디오 영상
      // ========================
      .videoWrapper {
        .video {
          width: 800px;
          height: auto;
          aspect-ratio: 16 / 9; /* 16:9 비율 유지 */
        }
      }
      // ========================
      // 이미지 슬라이드
      // ========================
      .swiperContainer {
        padding-top: 50px;

        .swiper {
          img {
            max-width: 800px; /* 원하는 최대 너비 설정 */
          }
        }
      }
    }

    // ========================
    // 프로젝트 하단 영상, 원형 부분
    // ========================
    .detailInfoWrapper {
      padding: 50px 0 200px 0;

      .circleWrapper {
        display: flex;

        .circle {
          width: 330px;
          height: 330px;
          border-radius: 50%;
          padding: 50px 60px;
        }
      }
    }
  }

  // ========================
  // 스킬 부분
  // ========================
  .mySkillSection {
    height: 80px;
    padding: 0 50px;
  }

  // ===================
  // MyContribution
  // ===================
  .myContributionSection {
    padding: 0 50px;

    .myContributionInner {
      padding: 170px 0;

      // ========================
      // My Contributions 대제목 부분
      .myContributionTitle {
        margin-bottom: 70px;
      }
    }
  }

  // ========================
  // 내가 기여한 역할
  // ========================
  .Box {
    margin-bottom: 20px;
    box-shadow: 0 0 6px rgba(176, 176, 176, 0.6);
    border-radius: 20px;

    // ========================
    // box top wrapper
    .myContributionDetailTitleWrapper {
      padding: 30px;
    }

    // ========================
    // 하단 상세 내용
    .detailTextWrapper {
      line-height: 180%;

      li {
        padding: 30px 30px;
        &:nth-last-child(1) {
          padding-bottom: 30px;
        }
      }

      // 상세 내용
      .detailText {
        line-height: 170%;
      }
    }
  }

  // =================
  // url 링크
  // =================
  .urlWrapper {
    .url {
      width: 90px;
      height: 90px;
    }
  }
}

@media screen and (max-width: 1080px) {
  .projectSection {
    .projectWrapper {
      height: 900px;
      // 프로젝트 탑부분
      .projectTitle {
        padding: 100px 0 50px 0;
        // 프로젝트 짧은 소개
        h1 {
          span {
            margin-left: 10px;
          }
        }
      }

      // ========================
      // 비디오 영상
      // ========================
      .videoWrapper {
        .video {
          width: 600px;
        }
      }
      // ========================
      // 이미지 슬라이드
      // ========================
      .swiperContainer {
        // padding-top: 50px;

        .swiperPagination {
          gap: 6px; /* 점들 간의 간격을 10px로 설정 */
          bottom: -20px;

          .paginationBullet {
            width: 8px !important; /* 점의 너비 */
            height: 8px !important; /* 점의 높이 */

            /* 활성화된 페이지네이션 점 */
            &.active {
              width: 14px !important;
              height: 6px !important;
            }
          }
        }
      }
    }

    // ========================
    // 프로젝트 하단 영상, 원형 부분
    // ========================
    .detailInfoWrapper {
      padding: 0 0 150px 0;

      .circleWrapper {
        .circle {
          width: 224px;
          height: 224px;
          padding: 40px 35px;

          &:nth-child(1) {
            transform: translateX(20px);
          }
          &:nth-child(2) {
            border: 1px dashed var(--color-wh);
          }
          &:nth-child(3) {
            transform: translateX(-20px);
          }
        }
      }
    }
  }

  // ========================
  // 스킬 부분
  // ========================
  .mySkillSection {
    height: 60px;
    padding: 0 50px;
  }

  // ===================
  // MyContribution
  // ===================
  .myContributionSection {
    padding: 0 50px;

    .myContributionInner {
      padding: 120px 0 120px 0;

      // ========================
      // My Contributions 대제목 부분
      .myContributionTitle {
        letter-spacing: -1px;
        margin-bottom: 60px;
      }
    }
  }

  // ========================
  // 내가 기여한 역할
  // ========================
  .Box {
    margin-bottom: 20px;
    box-shadow: 0 0 6px rgba(176, 176, 176, 0.6);
    border-radius: 20px;
    // ========================
    // box top wrapper

    .myContributionDetailTitleWrapper {
      padding: 30px;

      // ========================
      // 디테일 더보기
      .detailMore {
        width: 200px;

        // 더보기 이모티콘
        .detailMoreLine {
          width: 20px;
          height: 2px;
        }
      }
    }

    // ========================
    // 하단 상세 내용
    .detailTextWrapper {
      line-height: 170%;

      li {
        padding: 0 30px 30px 30px;
      }

      // 상세 내용 타이틀
      .detailTextTitle {
        margin-bottom: 5px;
      }
    }
  }
  // url 링크
  .urlWrapper {
    .url {
      width: 80px;
      height: 80px;
    }
  }
}

@media screen and (max-width: 768px) {
  .projectSection {
    padding: 0 30px 0 30px;

    .projectWrapper {
      height: 700px;

      // 프로젝트 탑부분
      .projectTitle {
        padding: 70px 0 30px 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        h1 {
          span {
            margin-left: 15px;
          }
        }
        // 프로젝트 짧은 소개
        h2 {
          width: 250px;
          word-break: keep-all;
          p {
            span {
              margin-left: 20px;
            }
          }
        }
      }

      // ========================
      // 비디오 영상
      // ========================
      .videoWrapper {
        .video {
          width: 500px;
        }
      }

      .swiperContainer {
        // padding-top: 50px;

        .swiperPagination {
          gap: 5px; /* 점들 간의 간격을 10px로 설정 */
          bottom: -20px;

          .paginationBullet {
            width: 5px !important; /* 점의 너비 */
            height: 5px !important; /* 점의 높이 */

            /* 활성화된 페이지네이션 점 */
            &.active {
              width: 9px !important;
              height: 4px !important;
            }
          }
        }
      }
    }

    // ========================
    // 프로젝트 하단 영상, 원형 부분
    // ========================
    .detailInfoWrapper {
      padding: 0 0 150px 0;

      .circleWrapper {
        flex-direction: column;

        .circle {
          width: 280px;
          height: 280px;

          &:nth-child(1) {
            transform: translateY(30px);
          }
          &:nth-child(2) {
            border: 1px dashed var(--color-wh);
          }
          &:nth-child(3) {
            transform: translateY(-30px);
          }
          // 원모양 text
          p {
            // line-height: 190%;
          }
        }
      }
    }
  }

  // ========================
  // 스킬 부분
  // ========================
  .mySkillSection {
    padding: 0 30px;
  }

  // ===================
  // MyContribution
  // ===================
  .myContributionSection {
    padding: 0 30px;

    .myContributionInner {
      padding: 100px 0 100px 0;

      // ========================
      // My Contributions 대제목 부분
      .myContributionTitle {
        letter-spacing: -1px;
        margin-bottom: 40px;
      }
    }
  }

  // ========================
  // 내가 기여한 역할
  // ========================
  .Box {
    margin-bottom: 15px;
    box-shadow: 0 0 5px rgba(176, 176, 176, 0.6);
    border-radius: 15px;
    // ========================
    // box top wrapper

    .myContributionDetailTitleWrapper {
      padding: 20px;

      // ========================
      // 디테일 더보기
      .detailMore {
        // 더보기 이모티콘
        .detailMoreLine {
          width: 15px;
          height: 1.5px;
        }
      }
    }

    // ========================
    // 하단 상세 내용
    .detailTextWrapper {
      line-height: 170%;

      li {
        padding: 20px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .projectSection {
    padding: 0 15px 0 15px;
    .projectWrapper {
      height: 600px;

      // 프로젝트 탑부분
      .projectTitle {
        h1 {
          font-size: 30px;
          span {
            font-size: 20px;
            margin-left: 8px;
          }
        }
        // 프로젝트 짧은 소개
        h2 {
          p {
            span {
              margin-left: 10px;
            }
          }
        }
      }

      // ========================
      // 비디오 영상
      // ========================
      .videoWrapper {
        .video {
          width: 350px;
        }
      }
    }

    // ========================
    // 프로젝트 하단 영상, 원형 부분
    // ========================
    .detailInfoWrapper {
      padding: 0 0 50px 0;

      .circleWrapper {
        .circle {
          width: 230px;
          height: 230px;
        }
      }
    }
  }

  // ========================
  // 스킬 부분
  // ========================
  .mySkillSection {
    padding: 0 15px;
  }

  // ===================
  // MyContribution
  // ===================
  .myContributionSection {
    padding: 0 15px;

    .myContributionInner {
      padding: 70px 0 70px 0;

      // ========================
      // My Contributions 대제목 부분
      .myContributionTitle {
        margin-bottom: 30px;
      }
    }
  }

  // ========================
  // 내가 기여한 역할
  // ========================
  .Box {
    margin-bottom: 10px;
    box-shadow: 0 0 3px rgba(176, 176, 176, 0.6);
    border-radius: 10px;
    // ========================
    // box top wrapper

    .myContributionDetailTitleWrapper {
      padding: 15px;
      .title {
        flex-direction: column;
        align-items: start;
        justify-content: start;
        text-align: left;

        // 내가 기여한 부분 타이틀
        p {
          text-align: left;
          white-space: nowrap; /* 줄바꿈 방지 */

          &:nth-child(2) {
            text-align: left;
            margin-top: 4px;
          }
        }
      }

      // ========================
      // 디테일 더보기
      .detailMore {
        width: 120px;
      }
    }

    // ========================
    // 하단 상세 내용
    .detailTextWrapper {
      // line-height: 170%;

      li {
        padding: 15px;
      }

      // 상세 내용 타이틀
      .detailTextTitle {
        margin-bottom: 3px;
      }
      // 상세 내용
      .detailText {
        line-height: 170%;
      }
    }
  }
  // url 링크
  .urlWrapper {
    .url {
      width: 60px;
      height: 60px;
      font-size: 11px;
    }
  }
}
