.introduceWrapper {
  width: 100%;
  position: relative;
  min-height: 100vh;
  background: #7a9ceb;

  background-color: var(--color-bk);

  .inner {
    width: 100%;
    height: 100%;
    max-width: calc(100vw * (1400 / 1700));
    margin: 0 auto;
  }
}

// 인트로 효과
.aboutText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  // height: 800px;
  font-size: calc(100vw * (115 / 1700));
  font-weight: 600;

  // 위로 떠오르는 애니메이션
  animation: aboutMeText 1.7s ease-out forwards;
}

// =========about Me
@keyframes aboutMeText {
  0% {
    opacity: 0;
    transform: translate(-50%, calc(-50% + 50px));
  }
  35% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  70% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, calc(-50% + -50px));
  }
}

@keyframes chatAni {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: 0;
  }
}
