.introduceWrapper {
  // height: 100vh;
  width: 100%;
  height: 100%;

  overflow: hidden;
  background-color: var(--color-bk);



  // 위로 떠오르는 애니메이션
  animation: chatAni 1s ease-out forwards;

  .inner {
    width: 100%;
    height: 100%;
    max-width: 1400px;
    margin: 0 auto;

    .aboutText {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;

      font-size: 115px;
      font-weight: 500;

      // 위로 떠오르는 애니메이션
      animation: aboutMeText 1.7s ease-out forwards;
    }
  }
}

// =========about Me
@keyframes aboutMeText {
  0% {
    opacity: 0;
    transform: translate(-50%, calc(-50% + 50px));
  }
  35% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  70% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, calc(-50% + -50px));
  }
}

@keyframes chatAni {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: 0;
  }
}
