.skillBox {
  padding: calc(100vw * (7 / 1920)) calc(100vw * (17 / 1920));
  font-size: calc(100vw * (18 / 1920));
  border-radius: calc(100vw * (40 / 1920));
  border: 1px solid #fff;
  margin-right: calc(100vw * (5 / 1920));

  &.Bk {
    border: 1px solid var(--color-gr);
    color: var(--color-bk);
    font-size: calc(100vw * (25 / 1920));
  }
}
