.skillBox {
  padding: calc(100vw * (7 / 1700)) calc(100vw * (17 / 1700));
  font-size: calc(100vw * (15 / 1700));
  border-radius: calc(100vw * (40 / 1700));
  border: calc(100vw * (1 / 1700)) solid #fff;
  margin-right: calc(100vw * (5 / 1700));

  &.Bk {
    border: calc(100vw * (1 / 1700)) solid var(--color-gr);
    color: var(--color-bk);
    font-size: calc(100vw * (20 / 1700));
  }
}
