// ===================
//Wrapper

.mySkillWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
  overflow: hidden;

  // ===================
  // Skill title

  .title {
    font-size: var(--font-size-main-base);
    margin-bottom: 30px;
    font-style: italic;
    color: var(--color-point);
  }

  // ===================
  // 스킬 감싸는 요소

  .skill {
    width: 100%;
    white-space: nowrap;
    display: flex;
    position: relative;

    // ===================
    // 스킬 각각 글자

    .slide {
      font-weight: 500;
      display: flex;
      align-items: center;
      will-change: transform;

      &.clone {
        display: none;
      }

      // 글자
      .item {
        color: var(--color-wh);
        font-size: var(--font-size-main-skill);
        margin: 0 30px;
        white-space: nowrap;
      }
    }

    &.smallFontSize {
      .slide {
        .item {
          margin: 0 20px;
          font-size: var(--font-size-project-base);
        }
      }
    }
  }
}

//==============================
// 반응형
//==============================
@media screen and (max-width: 1550px) {
  .mySkillWrapper {
    // ===================
    // Skill title
    .title {
      margin-bottom: 24px;
    }

    // ===================
    // 스킬 각각 글자
    .skill {
      .slide {
        .item {
          margin: 0 25px;
        }
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  // ===================
  //Wrapper
  .mySkillWrapper {
    // ===================
    // Skill title
    .title {
      margin-bottom: 15px;
    }

    .skill {
      // ===================
      .slide {
        display: flex;
        &.original {
          animation: slideAnimation 25s linear infinite;
        }
        &.clone {
          display: flex;
          top: 0;
          position: absolute;
          animation: slideAnimationClone 25s linear infinite;
        }
        &.stop {
          animation-play-state: paused;
        }

        .item {
          margin: 0 20px;
          &:hover {
            transform: scale(1.2);
            font-weight: 800;
          }
        }
      }
      &.smallFontSize {
        .slide {
          .item {
            margin: 0 15px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  // ===================
  //Wrapper
  .mySkillWrapper {
    // ===================
    // Skill title
    position: relative;
    .title {
      margin-bottom: 10px;
    }

    // ===================
    // 스킬 감싸는 요소

    .skill {
      // ===================
      // 스킬 각각 글자

      .slide {
        .item {
          margin: 0 10px;
        }
      }

      &.smallFontSize {
        .slide {
          .item {
            margin: 0 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  // ===================
  //Wrapper
  .mySkillWrapper {
    // ===================
    // Skill title
    .title {
      margin-bottom: 10px;
    }

    // ===================
    // 스킬 감싸는 요소

    .skill {
      // ===================
      // 스킬 각각 글자

      .slide {
        .item {
          margin: 0 7px;
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  // ===================
  //Wrapper
  .mySkillWrapper {
    // ===================
    // Skill title
    .title {
      margin-bottom: 10px;
    }

    // ===================
    // 스킬 감싸는 요소
  }
}

// 애니메이션 설정
@keyframes slideAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes slideAnimationClone {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
