@charset "UTF-8";

html,
body {
  font-size: 16px;
  width: 100%;
  height: auto;
  scroll-behavior: smooth;
}

body {
  position: relative;
}

.inner {
  width: 100%;
  padding: 0 60px 200px 0;

  margin: 0 auto;
}

.container {
  width: 100%;
  min-height: 100vh;
}

/* 루트 */
:root {
  --color-bk: #151515;
  --color-bk-text: #151515;
  /* --color-bk-text: #182134; */
  --color-gr: #7a7a7a;
  --color-gr-l: #aeaeae;
  --color-point: #3476f5;
  /* --color-point-sub: #4699ff; */
  --color-wh-sub: #e1f2fc;
  --color-wh: #ffffff;
  --color-error: #ff0000;
}

:root {
  --font-size-icon: 15px;
  --font-size-base: 16px;
  /* 표 작은 */
  --font-size-sm: 16px;
  /*  */
  --font-size-project-base: 25px;
  --font-size-project-base-sub: 22px;
  /*  */
  --font-size-title: 65px;
  --font-size-main-base: 45px;
  --font-size-main-base-point: 49px;
  --font-size-main-sub: 17px;
  --font-size-main-skill: 35px;
}

*::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1550px) {
  html,
  body {
    font-size: 15px;
  }
  :root {
    --font-size-footer: 14px;
    --font-size-base: 13px;
    /* 표 작은 */
    --font-size-sm: 14px;
    /*  */
    --font-size-project-base: 20px;
    --font-size-project-base-sub: 17px;
    /*  */
    --font-size-title: 45px;
    --font-size-main-base: 35px;
    --font-size-main-base-point: 39px;

    --font-size-main-skill: 25px;
  }
}

@media screen and (max-width: 1080px) {
  :root {
    --font-size-sm: 12px;
    --font-size-base: 13px;
    --font-size-project-base: 15px;
    --font-size-project-base-sub: 13px;
    --font-size-footer: 10px;
    /*  */
    --font-size-title: 40px;
    --font-size-main-base: 25px;
    --font-size-main-base-point: 29px;
    --font-size-main-sub: 14px;
    --font-size-main-skill: 15px;
  }
}

@media screen and (max-width: 768px) {
  html,
  body {
    font-size: 12px;
  }
  :root {
    --font-size-sm: 11px;
    --font-size-title: 35px;
    --font-size-main-base: 25px;
    --font-size-main-base-point: 29px;
    --font-size-main-sub: 12px;
  }
}

@media screen and (max-width: 500px) {
  html,
  body {
    font-size: 9px;
  }
  :root {
    --font-size-title: 25px;
    --font-size-main-base: 14px;
    --font-size-main-base-point: 17px;
    --font-size-main-skill: 14px;

    /*  */
    --font-size-project-base: 13px;
    --font-size-project-base-sub: 12px;
  }
}

@media screen and (max-width: 320px) {
  :root {
    --font-size-title: 20px;
    --font-size-main-base: 14px;
    --font-size-main-base-point: 19px;
  }
}
