@charset "UTF-8";

html,
body {
  font-size: calc(100vw * (15 / 1920));
  width: 100%;
  height: auto;
}

body {
  position: relative;
}

.inner {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.container {
  width: 100%;
  min-height: 100vh;
}

/* 루트 */
:root {
  --color-bk: #161616;
  --color-gr: #7a7a7a;
  --color-point: #8ec5fc;
  --color-wh: #f7fbff;
  --color-error: #ff0000;
}

*::-webkit-scrollbar {
  display: none;
}
