* {
  -webkit-text-size-adjust: none;
  box-sizing: border-box;
}

/* 모든 Device를 위한 공통 로드 */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
figure,
figcaption,
span {
  margin: 0;
  padding: 0;
  letter-spacing: 0;
}

body,
html,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
dt,
dd,
p hr,
button,
input,
form,
fieldset,
table,
caption,
th,
td,
header,
nav,
section,
article,
aside,
footer,
textarea {
  margin: 0;
  padding: 0;
}

html,
body {
  width: auto;
  height: 100%;
  /* font-family: "Noto Sans KR", sans-serif; */
  font-family: "SUITE", sans-serif;
  font-weight: 500;
  /* font-size: 16px; */
  color: var(--color-bk-text);
  background-color: var(--color-wh);
}

header,
nav,
section,
article,
aside,
footer {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul {
  list-style: none;
}

legend,
caption {
  text-indent: -100%;
  text-indent: 0;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-shadow: none;
  color: transparent;
}

img {
  max-width: 100%;
  border: 0;
  vertical-align: top;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

table,
th,
td {
  border: none;
  text-align: left;
}

th,
label {
  font-weight: normal;
}

address {
  font-style: normal;
}

button,
input {
  border: none;
  background: none;
}

button:focus,
input:focus {
  outline: none;
}

button,
a,
input,
label {
  cursor: pointer;
  text-decoration: none;
  outline: 0;
  font-family: inherit;
  color: var(--color-bk);
}
*,
input[type="checkbox"],
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="checkbox"]:disabled,
input[type="radio"]:disabled,
button:disabled {
  cursor: no-drop;
}

input[type="checkbox"]:disabled + label,
input[type="radio"]:disabled + label {
  cursor: no-drop;
}

a {
  text-decoration: none;
  color: var(--color-dark);
}

input::-ms-clear {
  display: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  resize: none;
}

textarea::placeholder {
  color: #a2a2a2;
}

textarea:focus {
  outline: none;
}

.body-lock {
  overflow: hidden;
}

/* select*/
select {
  border-radius: 0;
  /* 아이폰 사파리 보더 없애기 */
  -webkit-appearance: none;
  /* 화살표 없애기 for chrome*/
  -moz-appearance: none;
  /* 화살표 없애기 for firefox*/
  appearance: none;
  /* 화살표 없애기 공통*/
}

select::-ms-expand {
  display: none;
  /* 화살표 없애기 for IE10, 11*/
}

/* 공통 컨텐츠 font */

/* noto-sans-kr-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/noto-sans-kr-v36-latin/noto-sans-kr-v36-latin-100.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-kr-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/noto-sans-kr-v36-latin/noto-sans-kr-v36-latin-200.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-kr-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/noto-sans-kr-v36-latin/noto-sans-kr-v36-latin-300.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-kr-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/noto-sans-kr-v36-latin/noto-sans-kr-v36-latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-kr-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/noto-sans-kr-v36-latin/noto-sans-kr-v36-latin-500.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-kr-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/noto-sans-kr-v36-latin/noto-sans-kr-v36-latin-600.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-kr-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/noto-sans-kr-v36-latin/noto-sans-kr-v36-latin-700.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-kr-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/noto-sans-kr-v36-latin/noto-sans-kr-v36-latin-800.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-kr-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/noto-sans-kr-v36-latin/noto-sans-kr-v36-latin-900.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* 영문 */

@font-face {
  font-display: swap;
  font-family: "SUITE";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/SUITE-woff2/SUITE-Light.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "SUITE";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/SUITE-woff2/SUITE-Regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "SUITE";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/SUITE-woff2/SUITE-Medium.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "SUITE";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/SUITE-woff2/SUITE-SemiBold.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "SUITE";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/SUITE-woff2/SUITE-Bold.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "SUITE";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/SUITE-woff2/SUITE-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "SUITE";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/SUITE-woff2/SUITE-Heavy.woff2") format("woff2");
}
