.projectDetailBox {
  padding: calc(100vw * (50 / 1700)) calc(100vw * (10 / 1700));
  border-top: calc(100vw * (1 / 1700)) solid var(--color-gr);

  display: flex;
  justify-content: space-between;
}

.titleWrapper {
  width: calc(100vw * (800 / 1700));
}

.title {
  font-size: calc(100vw * (70 / 1700));
  font-weight: 400;
}

.infoWrapper {
  width: 100%;
}
