.projectDetailBox {
  padding: calc(100vw * (50 / 1920)) calc(100vw * (10 / 1920));
  border-top: 1px solid var(--color-bk);

  display: flex;
  justify-content: space-between;
}

.titleWrapper {
  width: calc(100vw * (800 / 1920));
}

.title {
  font-size: calc(100vw * (30 / 1920));
  font-weight: 500;
}

.infoWrapper {
  width: 100%;
}
